<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="synchronyTime" value="600"/>
    <add key="SQL_XXGK" value="600"/>
    <add key="SQL_SEWAGE" value="600"/>
    <add key="SQL_WAIR" value="600"/>
    <add key="SQL_WWATER" value="600"/>
    <add key="FTP_IP" value="192.168.1.111:21"/>
    <!--<add key="FTP_IP" value="10.101.59.182:21"/>-->
    <add key="FTP_USERID" value="xh"/>
    <add key="FTP_PWD" value="xh1314!"/>
    <add key="FTP_ADDR" value="F:\Download"/>
    <add key="ORAL_CONN" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.1.111)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=XE)));User Id=xh;Password=xwx;"/>
    <!--<add key="ORAL_CONN" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.101.59.84)(PORT=1521))(CONNECT_DATA=(SID=Orcl)));User Id=xh;Password=xh1314!;"/>-->
  </appSettings>
  <connectionStrings>
    <add name="Conn" connectionString="Data Source=.;Initial Catalog=xuhuihuanbao_2013;Persist Security Info=True;User ID=xuhuihuanbao_2013;Password=xuhuihuanbao_2013"
      providerName="System.Data.SqlClient" />
    <add name="SyncService.Properties.Settings.xuhuihuanbao_2013ConnectionString"
      connectionString="Data Source=.;Initial Catalog=xuhuihuanbao_2013;Persist Security Info=True;User ID=xuhuihuanbao_2013;Password=xuhuihuanbao_2013"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>

